.main_container {
    margin: auto;
    margin-top: 50px;
    width: 80%;
    border: 1px solid black;
    padding: 10px;
    background-color: #FB0605;
    padding: 10px;
    box-shadow: 10px 10px 5px grey;
    border-radius: 10px;
}
.inner_container {
    margin: auto;
    margin-top: 10px;
    width: 90%;
    border: 18px solid grey;
    padding: 10px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}
.navbar {
    background-color: transparent !important;
    border-bottom: 1px solid black;
}
